{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet"> 
<div class="header-container">
    <!-- <img style="width:100%" src="{% static 'home/images/bg2.jpg' %}"> -->
    <nav class="top-left">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Contact Us</a>
        <a href="#">Merchandise</a>
    </nav>
    <h1 class="header-title">
        Corrupted Public Records
    </h1>
</div>
<section class="about-us">
    <div class="container">
        <h1>
            Who are we
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati doloremque tempora soluta magnam qui saepe nobis nemo quisquam. Nulla culpa adipisci natus rem quam iste porro beatae doloremque impedit animi.
        </p>
    </div>
</section>